.footer{
    font-weight: 200!important;
    padding: 2rem;
    height: 10rem;
    background-color: black;
}

.footer > p {
    font-size: 0.6rem;
    margin:0;
    line-height:1rem;
}

.bar{
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    width: 1rem;
    border-bottom-width: 0.1rem;
    border-style: solid;
    border-color: rgba(29,83,147);
    margin-bottom: 2rem;
}
