@media screen and (min-width: 960px) {
    h2{ font-size: 1.5rem; }
    p{ font-size: 1rem }
    .para{ max-width: 80vw;}
    .subpara{ max-width: 60vw }
    .nav{ height: 2rem}
    .banner{ height: 50vw; width: 100vw;}    
}
@media screen and (max-width: 960px){
    h2{ font-size: 1.5rem; }
    p{ font-size: 1rem }
    .para{ max-width: 80vw }
    .subpara{ max-width: 60vw }
    .nav{ height: 1.8rem}
    .banner{ height: 50vw; width: 100vw;}    
}
@media screen and (max-width: 640px){
    h2{ font-size: 1rem ;}
    p{ font-size: 0.8rem; }
    .para{ max-width: 80vw }
    .subpara{ max-width: 60vw; }
    .nav{ height: 1.8rem}
    .banner{ height: 50vw; width: 100vw;}
    .menuicon{width: 2rem}
}
@media screen and (max-width: 480px){
    h2{ font-size: 0.8rem }
    p{ font-size: 0.5rem; }
    .para{ max-width: 80vw }
    .subpara{ max-width: 80vw }
    .nav{ height: 1.8rem}
    .banner{ height: 75vw; width: 100vw;}
    .menuicon{width: 1rem}
}

body{
    word-break:break-all!important;
    overflow-y: hidden!important;
    text-decoration:none!important;
}

p{
    text-align: left;
    margin: 0
}

.bnwrap{
    padding-top:0.5rem;
    display:flex;
    align-items:flex-start;
    justify-content: flex-end;
}

.trans{
    color:white;
}

.indent{
    text-indent: 2rem;
}
.ttable{
    height: 115vw;
    width: 80vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.ctn{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem;
}

.banner{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg1{
    background-color: rgba(242,242,242,1)
}

.ml{
    margin:0.2rem;
    text-align: left;
}
.m2{
    marginTop:0;
}

.blockgeek{
    margin-top:3rem;
    height: 4rem;
    width: 11rem;
    background-image: url('../../assets/imgs/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.gdex{
    margin:3rem;
    height: 5rem;
    width: 4rem;
    background-image: url('../../assets/imgs/gdex.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.bcc{
    height: 7rem;
    width: 6.8em;
    background-image: url('../../assets/imgs/bcc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.gridm{
    padding: 0rem 0rem 3rem;
}
.cctn{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bs{
    height: 4rem;
    width: 4em;
    background-image: url('../../assets/imgs/bs.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.bbt{
    height: 1.6rem;
    width: 7em;
    background-image: url('../../assets/imgs/bbt.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.ff{
    height: 2rem;
    width: 7em;
    background-image: url('../../assets/imgs/ff.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.bf{
    height: 1.6rem;
    width: 6em;
    background-image: url('../../assets/imgs/bf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.bar{
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    width: 1rem;
    border-bottom-width: 0.1rem;
    border-style: solid;
    border-color: rgba(29,83,147);
    margin-bottom: 2rem;
}

.nav{
    align-items: flex-end;
    display:flex;
    backgroundColor:rgba(9,12,36,0);
    justify-content:center;
}

.footer{
    font-weight: 200!important;
    padding: 2rem 2rem 4rem 2rem;
    background-color: black;
}

.ftgrid > p {
    font-size:0.65rem;
    line-height:1rem;
}

.sr{
    margin-top:2rem;
    display:flex;
    flex:1;
    flex-direction: row;
}

.fticon{
    height:1rem;
    width:1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right:0.5rem;
}

.ftcp{
    background-image: url('../../assets/imgs/hand.png');
}

.ftchat{
    background-image: url('../../assets/imgs/chat.png');
}

.twitter{
    background-image: url('../../assets/imgs/twitter.png');
}

.weibo{
    background-image: url('../../assets/imgs/weibo.png');
}

.qr{
    height:6rem;
    width:6rem;
    margin-top:1rem;
    background-image: url('../../assets/imgs/hand.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right:0.5rem;
}

.qrt{

    background-image: url('../../assets/imgs/qrt.png');
}

.qrw{
    width:5.7rem;
    height:5.7rem;    
    background-image: url('../../assets/imgs/qrw.png');    
}
