.root{
    margin-top: 2rem;
    height:40vw;
    width: 80vw;
    position: relative;
}
.foto{
    height:40vw;
    width: 80vw;
    max-height: 480px;
    max-width: 960px;
    background-size: cover;
    background-position: center;
}

.foto1{
    background-image: url(../../assets/imgs/foto1.png)
}

.foto2{
    background-image: url(../../assets/imgs/foto2.png)
}

.foto3{
    background-image: url(../../assets/imgs/foto3.png)
}

.foto4{
    background-image: url(../../assets/imgs/foto4.png)
}

